.aboutus{
    margin-bottom: 5%;
    width: 100%;
    text-align: center;
/*     padding-top: 100px */;
}

.student-col{
/*     flex-basis: 31%; */
    background: #fff3f3;
    border-radius: 20px;
    margin: 5%;
    padding: 8px 16px;
    box-sizing: border-box;
    transition: 0.5s;
}

.student-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

h1{
    color: #fff3f3;
}