.aboutus{
    margin-bottom: 5%;
    width: 100%;
    text-align: center;
}

.student-col{
    background: #fff3f3;
    border-radius: 20px;
    margin: 1%;
    padding: 8px 16px;
    box-sizing: border-box;
    transition: 0.5s;
}

.student-col:hover{
    box-shadow: 0 0 20px 0px white;
}

h1{
    color: #ffa500;
}