
body {
    margin: 0px;
   }

.small-container{
	margin-left: 40px;
  width: 300px;
  height: 400px;
  background-color: #065a91;
  animation-name: example;
  animation-duration: 4s;
  border-radius: 0.5rem;
  
	}


    .name{
        line-height: normal;
        padding-left: 40px;
    }

    img {margin-top: 0%;}