body {
    margin: 0;
}

#main-header {
    padding: 15px;
    margin: 0px;
    text-align: center;
}

#main-product-card .table-row .product-card {
    max-width: 500px;
    text-align: center;
}

#main-product-card .table-row .price {
    color: red;
    font-size: 50px;
}

#main-product-card .table-row .product-card button {
    border: none;
    outline: 0;
    padding: 15px;
    color: white;
    background-color: rgb(209, 158, 28);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 25px;
}

#main-product-card .table-row .product-card button:hover {
<<<<<<< HEAD
    background-color: gold;
    color: black;
=======
    opacity: 0.4;
>>>>>>> 8aee3bd60062a010ad1907ae24a892a2f6f8f56d
}

.center-table {
    margin-left: auto;
    margin-right: auto;
}
<<<<<<< HEAD
.table-row {
    display: inline;
    align-items: center;
=======

.table-row {
    display: inline;
    align-items: center;
}

.fieldset {
    background-color: green;
>>>>>>> 8aee3bd60062a010ad1907ae24a892a2f6f8f56d
}
.fieldset {
    background-color: gold;
    }

.table-row img{
    height: 350px;
    width: 350px;
}

.table-row{
    color: rgb(255, 255, 255);
}

#ordsm{
    color: aliceblue;
}