#frame001{
	height:300px;
	width:500px;
	background-color:#daa520;
	border:solid #808080;
	margin: 5% ;
	border-radius:10px;
  margin-left: 33%;
	
}


#center001{
	text-align:center;
	color:rgb(0, 0, 0);
	font-family:Helvetica;
}

li{
list-style:none;
text-align:left;}

button{
	
	background-color:rgb(255, 255, 255);
	border-radius: 5px;
	transition: background-color 0.4s, border 0.4s;
}

button:hover{
	background-color: rgb(0, 250, 54);
	border: 1pt rgba(255,255,255,0) solid;
	cursor: pointer;
}