a.ex2:hover, a.ex2:active {font-size: 135%;}

a.ex1:hover, a.ex1:active {fill: white;}

.smtitle{
    padding-bottom:70px ;
    padding-top: 100px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    text-decoration: underline;
}

svg {align-items: center;}
